<a href="https://colab.research.google.com/github/Park-ByungKyu/MLpractice/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##10 minutes to pandas
https://pandas.pydata.org/docs/user_guide/10min.html

In [5]:
import numpy as np
import pandas as pd

pandas에서 Series 만들기  
Data type까지 자동으로 출력

In [15]:
s = pd.Series([1,3,5,6,8])
s

0    1
1    3
2    5
3    6
4    8
dtype: int64

pandas에서 DataFrame 만들기  
index 배열 크기는 행 개수와 일치  
columns 배열 크기는 열 개수와 일치

In [31]:
dates = pd.date_range("20130101", periods=6)
ex = pd.Series([1,2,3,4,5,6])
df = pd.DataFrame(np.random.randn(6,4), index=ex, columns=list("ABCD"))
df

          A         B         C         D
1 -0.370371  0.096911 -0.578650 -0.136451
2 -1.317527  1.156873  1.375150 -0.265613
3 -1.782230  0.507349  0.580055 -0.385699
4 -0.256539  1.455808  0.015367  0.538890
5  0.026424  0.047190  1.533411  0.521915
6 -0.244279 -1.151169  1.549724 -0.226450